{:paths ["src"]
 :deps {io.github.kotoba-lang/org-iso-10303
        {:git/url "https://github.com/kotoba-lang/org-iso-10303.git"
         :git/sha "88b110bb44068f1966766ef46631236fcd545386"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :main-opts ["-m" "kaocha.runner"]}

  ;; clj-kondo as a Clojars lib (no Homebrew/system install needed).
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}
